body {
  font-family: "Montserrat";
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat-Bold";
}

p {
  color: #8f8f8f;
}

/* Headings */

.big-heading {
  font-family: "Montserrat-Black";
  font-size: 104px;
  line-height: 1.5;
}
.small-heading {
  line-height: 1.8rem;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid {
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: #726a95;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */

.navbar {
  padding: 0;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 8px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title {
  background-color: #0e9aa7;
  color: #fff;
  text-align: center;
}

#title .container-fluid {
  padding: 3% 15% 0;
}
.landing-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

@media (max-width: 1028px) {
  .big-heading {
    font-family: "Montserrat-Black";
    font-size: 80px;
    line-height: 1.5;
    margin-bottom: rem;
  }

  .small-heading {
    font-size: 17px;
    line-height: 1.5;
    padding: 0 0 50px 0;
  }

  .download-button {
    line-height: 2;
    padding: 0 4rem;
  }
}
